= simple_form_for(@post, html: { class: 'form-horizontal', multipart: true }) do |f|

	= render 'shared/error_messages'

	= f.file_field :image
	= f.input :category_id, collection: Category.all, prompt: "Choose category"
	= f.input :title, placeholder: "Type the post title here"
	= f.input :content, placeholder: "Type the post's text here", as: :text, input_html: { rows: 20, cols: 75 }
	= f.button :submit
