%aside#info.info.aside.section
  .section-inner
    %h2.heading
      Contact me
    .content
      %ul.list-unstyled
        %li
          %i.fa.fa-map-marker
          %span.sr-only
            Location:
          Tallinn, Estonia
        %li
          %i.fa.fa-envelope-o
          %span.sr-only
            Email:
          alexand3r.logvinenko@gmail.com
        %li
          %i.fa.fa-link
          %span.sr-only
            Website:
          oxxy.wtf

%aside#achievements.achievements.aside.section
  .section-inner
    %h2.heading
      Profiles
    .content
      %p
        = link_to "</> BitBucket", "https://bitbucket.org/Oxxy/profile/repositories", class: "achievement-link"
      %p
        = link_to "</> GitHub", "https://github.com/Oxxyg33n/", class: "achievement-link"
      %p
        = link_to "</> CodeAcademy #1", "https://www.codecademy.com/Oxxygen", class: "achievement-link"
      %p
        = link_to "</> CodeAcademy #2", "https://www.codecademy.com/Oxxy.beatch", class: "achievement-link"
      %p
        = link_to "</> rAthena", "https://rathena.org/board/profile/1163-oxxy/", class: "achievement-link"
      %p
        = link_to "</> Hercules", "http://herc.ws/board/profile/3818-oxxy/", class: "achievement-link"
      %p
        = link_to "</> eA-support", "http://ea-support.ws/index.php?/profile/315-oxxy/", class: "achievement-link"

%aside.skills.aside.section
  %section.inner
    %h2.heading
      Skills
    .content
      %p.intro
        I'm learning:
      .skillset
        .item
          %h3.level-title
            Ruby
            %span.level-label
              Beginner
          .level-bar
            .level-bar-inner{"data-level" => "20%", :style => "width: 20%;"}

        .item
          %h3.level-title
            Bootstrap
            %span.level-label
              Beginner
          .level-bar
            .level-bar-inner{"data-level" => "20%", :style => "width: 20%;"}

        %p
          = link_to "More on LinkedIn", "https://www.linkedin.com/in/aleksandr-logvinenko-1bb582143/", class: "more-link"

%aside.education.aside.section
  %section.inner
    %h2.heading
      Education
    .content
      .item
        %h3.title
          %i.fa.fa-graduation-cap
            Cyber Security Engineering
        %h4.university
          IT College of TUT
          %span.year
            (2017 - ...)
      .item
        %h3.title
          %i.fa.fa-graduation-cap
            High School
        %h4.university
          Lasnamäe Vene Gümnaasium
          %span.year
            (2014 - 2017)

%aside.languages.aside.section
  %section.inner
    %h2.heading
      Languages
    .content
      %ul.list-unstyled
        %li.item
          %span.title
            %strong Russian
          %span.level
            Native Speaker
            %br.visible-xs
            %i.fa.fa-star
            %i.fa.fa-star
            %i.fa.fa-star
            %i.fa.fa-star
            %i.fa.fa-star

        %li.item
          %span.title
            %strong English
          %span.level
            Full professional proficiency
            %br.visible-xs
            %i.fa.fa-star
            %i.fa.fa-star
            %i.fa.fa-star
            %i.fa.fa-star

        %li.item
          %span.title
            %strong Estonia
          %span.level
            Elementary proficiency
            %br.visible-xs
            %i.fa.fa-star
            %i.fa.fa-star

%aside.list.music.aside.section
  %section.inner
    %h2.heading
      Favorite music
    .content
      %ul.list-unstyled
        %li
          %i.fa.fa-headphones
            = link_to "Хаски", "https://soundcloud.com"
        %li
          %i.fa.fa-headphones
            = link_to "Oxxymiron", "#"
        %li
          %i.fa.fa-headphones
            = link_to "$uicideboy$", "#"

%aside.credits.aside.section
  %section.inner
    %h2.heading
      Credits
    .content
      %ul.list-unstyled
        %li
          = link_to "Ruby", "https://www.ruby-lang.org/en/"
        %li
          = link_to "Ruby on Rails", "http://rubyonrails.org/"
        %li
          = link_to "Andres.wtf", "https://andres.wtf/"
        %li
          = link_to "FontAwesome", "http://fontawesome.io/"
        %li
          = link_to "jQuery", "http://jquery.com/"
        %li
          = link_to "Bootstrap", "http://getbootstrap.com/"
        %li
          = link_to "GitHub Activity Stream", "http://caseyscarborough.com/projects/github-activity/"
